body{
    background-color: rgb(48, 48, 48);
    color: white;
}
.wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    background-color: #89b8d6;
    border: 5px solid #c3e2f5;
    margin-top: 80px;
}

.triangle-wrapper::after {
    position: absolute;
    content: '';
    right: 50%;
    bottom: 70px;
    transform: translate(50%);
    border: 50px solid transparent;
    border-bottom: 50px solid #89b8d6;
}

.triangle-wrapper::before {
    position: absolute;
    content: '';
    right: 50%;
    bottom: 70px;
    transform: translate(50%);
    border: 60px solid transparent;
    border-bottom: 60px solid #c3e2f5;
}